<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Add Item</ion-title>
    <div class="button">
      <ion-fab vertical="top" horizontal="end" slot="fixed">
              <ion-button (click)="addTodo()">Save</ion-button>
      </ion-fab>
      <ion-fab vertical="top" horizontal="start" slot="fixed">
              <ion-button (click)="toPreviousPage()">List Items</ion-button>
      </ion-fab>
    </div>
  </ion-toolbar>
</ion-header>
<div #map_canvas id="map_canvas">
</div>
<ion-content>
  <ion-list>
    <ion-item floating-label>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
    </ion-item>

    <ion-item floating-label>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea placeholder="Enter more information here..." [(ngModel)]="todo.description" name="description"></ion-textarea>
    </ion-item>

    <ion-button [disabled]="!isenabled" (click)="selectImage()" >Open Camera</ion-button>
    <img *ngIf="image" [src]="image"/>

  </ion-list>
</ion-content>
