<ion-header>
  <ion-toolbar>
    <ion-title text-center id="textdetail">Item Details</ion-title>
    <div class="button">
      <ion-fab vertical="top" horizontal="start" slot="fixed">
              <ion-button (click)="toPreviousPage()">List Items</ion-button>
      </ion-fab>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
              <ion-button (click)="updateTodo()">Save</ion-button>
      </ion-fab>
    </div>
  </ion-toolbar>
</ion-header>
<div #map_canvas id="map_canvas">
</div>
<ion-content>
  <ion-list>
        <ion-item floating-label>
          <ion-label position="floating">Title</ion-label>
          <ion-input type="text" name="title" [(ngModel)]="todo.title"></ion-input>
        </ion-item>

        <ion-item floating-label>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea placeholder="Enter more information here..." [(ngModel)]="todo.description" name="description"></ion-textarea>
        </ion-item>

        <ion-toggle slot="start" [(ngModel)]="todo.isDone" name="blueberry" checked></ion-toggle>

        <ion-button (click)="updatePhoto()" >Open Camera</ion-button>

        <ion-list>
          <ion-item id="image" *ngFor="let image of images">
                <ion-img [src]="image.photo"></ion-img>
                <ion-button slot="end" color="danger" (click)="removePhoto(image)"><ion-icon name="trash"></ion-icon> Delete</ion-button>
          </ion-item>
        </ion-list>

          <img [src]="image"/>

  </ion-list>
</ion-content>
